<div class="home__container">
	<app-card
	gameCover="assets/bt-1.jpg"
	gameLabel="DIGITAL"
	gameType="PS4"
	gamePrice="R$ 499,00"
	>
	</app-card>

	<app-card
	gameCover="assets/bt-4.jpg"
	gameLabel="EXCLUSIVO"
	gameType="DIGITAL | PS4"
	gamePrice="199,90"
	>
	</app-card>

	<app-card
	gameCover="assets/bt-5.jpg"
	gameLabel="CORRA"
	gameType="SOMENTE PS"
	gamePrice="699,90"
	>
	</app-card>


	<app-card
	gameCover="assets/bt-bad-company-2.jpg"
	gameLabel="ONLY | PS5"
	gameType="FOR PS"
	gamePrice="399,90"
	>
	</app-card>


	<app-card
	gameCover="assets/ac-cover.jpg"
	gameLabel="PLAY"
	gameType="PS3 | PS4 | PS"
	gamePrice="899,90"
	>
	</app-card>


</div>

